# --- COMMON (DB ADMIN) ---
MSSQL_SA_PASSWORD=your_strong_password

# --- PORTS ---
IDENTITY_API_PORT=5222
AUDIT_API_PORT=5126
CONTENT_API_PORT=5075

# --- IDENTITY ---
IDENTITY_DB_CONNECTION=Server=identity-db;Database=CodeJudexIdentityDb;User Id=sa;Password=your_password;TrustServerCertificate=True
IDENTITY_JWT_SECRET=your_secret_key_min_32_chars
IDENTITY_JWT_ISSUER=CodeJudex.Identity.Service
IDENTITY_JWT_AUDIENCE=CodeJudex.Web.Client

# --- AUDIT ---
AUDIT_JWT_SECRET=your_secret_key_min_32_chars
AUDIT_JWT_ISSUER=CodeJudex.Identity.Service
AUDIT_JWT_AUDIENCE=CodeJudex.Web.Client

# --- CONTENT ---
CONTENT_DB_CONNECTION=Server=content-db;Database=CodeJudexContentDb;User Id=sa;Password=your_password;TrustServerCertificate=True
CONTENT_JWT_SECRET=your_secret_key_min_32_chars
CONTENT_JWT_ISSUER=CodeJudex.Identity.Service
CONTENT_JWT_AUDIENCE=CodeJudex.Web.Client